html
	font-family 'Open Sans', sans-serif
#main-container
	//width 80%
	height 80%
	margin 10px 20%

	#top-bar
		width 100%
		//height 20%
		border-bottom 1px solid
		position relative
		padding 10px

		#title
			width 100%
			font-size 45px
			text-align center
			vertical-align middle

	
	#bottom-content
		width 100%
		height 80%
		padding 20px
		#left-content
			width 75%
			float left
			height 100%
			padding-right 5%

			h1
				margin 0
			
		#right-sidebar
			width 20%
			float left
			height 100%

			.page-link
				width 80%
				margin 10px auto
				padding 5px
				border-bottom 1px solid
a
	color inherit
	text-decoration none