extends ./layout.jade

block content
	:markdown
		#Hi!

		My name is Ben, a 1st year student at Tufts University planning on studying Math + CS.

		I want to build tools that make it easier for **anyone** to leverage software. Building/maintaining complex software and performing data analayses should be **effortless**. How can we improve programming languages, software design paradigms, and abstractions to make this a reality? (These are the types of questions that keep me up at night haha..)

		I'm Christian. I enjoy reading about philosophy and psychology. I've got an unhealthy obsession with pop music. I play the piano (kind of..). Chocolate croissants and caramel-flavored coffee are my favoritest things in the world (coffee flavored anything is awesome too).

		