extends ./layout.jade

block content
	:markdown
		#Hi!

		My name is Benjamin Steephenson, a 1st year student at Tufts University planning on studying Math + CS.

		##My Elevator Pitch

		I'm excited about the ways software is making life more efficient and is expanding what we can know about the world and even ourselves. 

		Beyond just building things, **I'm interested in the way we build things**. How can we improve programming languages, software design paradigms, and abstractions to make the process of building maintainable, extendable software both easy and simple? 

		I'm studying Math and Computer Science to have a strong theoretical background in computation while gaining a sense of the types of problems software engineers face today. I want to build tools that improve the engineering process, and **I hope to make meaningful contributions that make software development easier and that expand the amount of knowledge we can access with data**.

		##About Me

		I'm Christian. I enjoy reading about philosophy and psychology. I've got an unhealthy obsession with pop music. I play the piano (kind of..). Chocolate croissants and caramel-flavored coffee are my favoritest things in the world (coffee flavored anything is awesome too).

		This semester I've been spending my time...

		- Keeping up with my classes (Discrete Math, Abstract Linear Algebra, Western Political Thought, Abnormal Psychology, Religions of China)
		- Being a TA for Tufts' Comp 15 course (Data Structures)
		- Getting more involved with Tufts' Computer Science Exchange (CSX) as an E-Board member
		- Being involved with Tufts' Intervarsity chapter
		- Working my way through a book on introductory probability theory
		- Trying to get started contributing to open source Javascript projects
		- Looking for a summer internship