html
	head
		link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css')
		link(href='./css/style.css', rel='stylesheet')
		style
			block style
	body
		#main-container
			#top-bar
				#title Benjamin Steephenson
			#bottom-content
				#left-content
					block content
				#right-sidebar
					.page-link Home
					.page-link
						a(href="https://www.github.com/BSteephenson").
							GitHub