extends ./layout.jade

block content
	:markdown
		#Awesome Sauce (on the Interwebs)
		
		- [Getting Started With Gulp](http://travismaynard.com/writing/getting-started-with-gulp)
		- [Setting Up a Node.JS Server On Amazon EC2](http://www.lauradhamilton.com/how-to-set-up-a-nodejs-web-server-on-amazon-ec2)
		- [Markdown Cheat Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)
